@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --_1px: 0.052vw;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  /* border-radius: 10px; */
}
._ii {
  position: absolute;
  font-family: Poppins;
  width: 83.229vw;
  /* height: 45.26vw; */
  border-radius: 0.26vw;
  border: 0.052vw solid #707070;
  background-color: #333333;
  color: #e6e6e6;
}
._padding_top_left_right {
  padding: 2.083vw 2.083vw 0;
}
._ii ._Header {
}

._ii ._Header ._Close {
  width: 1.302vw;
  height: 1.302vw;
}

._ii ._Header ._Heading {
  font-weight: 500;
  font-size: 1.042vw;
}
._ii ._Header ._Heading img {
  margin: 0 0.521vw;
  width: 1.354vw;
  height: 1.354vw;
}

._ii ._Tool {
  margin: 1.302vw 0;
}

._ii ._Tool ._Input {
  background-color: #242424;
  box-shadow: 0 0 0.521vw 0 rgba(0, 0, 0, 0.2);
  border-radius: 1.25vw;
  padding: 0.417vw 1.042vw;
  border: none;
  width: 12.5vw;
  font-size: 0.833vw;
  color: #e6e6e6;
  outline: none;

  height: 2.083vw;
}

._ii ._Tool ._Input:focus {
  transition-duration: 0.5s;
  border: 0.052vw solid #e72870;
}

._ii ._Tool ._Tabs {
}
._ii ._Tool ._Tabs ._Tab,
._UnRedo ._Tab {
  padding: 0.417vw 0;
  background-color: #4d4d4d;
  border: 0.052vw solid #333333;
  cursor: pointer;
  font-size: 0.833vw;
  margin: 0.417vw;
  border-radius: 1.042vw;
  min-width: 6.771vw;
  text-align: center;
}

._ii ._Tool ._Tabs ._Tab img {
  margin-right: 0.521vw;
  width: 0.833vw;
  height: 0.833vw;
}

._UnRedo ._Tab {
  /* margin: 0 0.417vw; */
  min-width: 5.313vw !important ;
  /* height: 2.083vw; */
}

._ii ._Main ._Canvas {
  width: 56.563vw;
  height: 32.031vw;
  /* background-color: #242424; */
  border: solid 0.052vw #4d4d4d;
  margin-bottom: 2.083vw;
}
._ii ._Footer {
  box-shadow: 0 0 0.313vw 0 rgba(0, 0, 0, 0.25);
  border: solid 0.052vw #4d4d4d;
  background-color: #333333;
  padding: 0.781vw 2.083vw;
}
._ii ._Footer ._Footing {
  font-size: 0.729vw;
}
._ii ._Save,
._Discard {
  padding: 0.625vw 2vw;
  font-size: 0.729vw;
  margin: 0 0.521vw;
  border-radius: 1.302vw;
  /* background: red; */
}
._Discard {
  background: #4d4d4d;
}
._Save {
  background-image: linear-gradient(74deg, #e72870 -4%, #e76161);
}
._Save img {
  margin-left: 0.521vw;
  width: 0.833vw;
  height: 0.833vw;
}

._ii ._ObjectTab {
  border: 0.052vw solid #4d4d4d;
  width: 20.417vw;
  padding: 1.042vw 0.521vw;
}

._ii ._ObjectTab img {
  width: 1.302vw;
  height: 1.302vw;
  margin: 0 0.26vw;
  cursor: pointer;
}

._ii ._ObjectTab ._TabName {
  font-size: 0.729vw;
}
._ii ._ObjectTab ._TabName img {
  height: 0.885vw;
  width: 1vw;
  margin: 0 0.729vw;
  margin-left: 0 !important;
  cursor: default;
}

._ii ._ObjectTab_Active {
  position: sticky;
  top: 0;
  background-color: #4d4d4d;
  z-index: 3;
  box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}
._ii ._Up {
  transform: rotateZ(180deg);
}
._ObjectData {
  padding: 0.781vw 1.042vw;
  background-color: #3d3d3d;
  border: solid 0.052vw #4d4d4d;
  max-height: 30.5vw;
  height: fit-content;
  overflow-y: scroll;
  height: 100%;
  /* position:absolute; */
  /* width: 100%; */
}



._ObjectList{
  width: 20.417vw;
  height: 34vw;
  /* position: relative; */
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: 1px !important;
  -webkit-scrollbar-width: 1px !important;
}

._ArtBoardSettings {
}

._ArtBoardSettings ._First {
  font-size: 0.729vw;
  margin-top: 0.729vw;
}
._CurrentColor {
  margin: 0.781vw 0;
  font-size: 0.729vw;
  background-color: #333333;
  border-radius: 0.26vw;
  font-weight: 500;
}
.__First {
  color: #a9a9a9;
}
.__Second {
}
.__Third {
  margin-left: 0.26vw;
  color: #e7416a;
}
._CurrentColor ._Color {
  width: 7.396vw;
  height: 4.167vw;
  border-radius: 0.26vw;
}
._CurrentColor ._ColorDetails {
  padding: 0.729vw 1.042vw;
}
._ColorImageTab ._Tab{

}
._TabContent{
  padding: 0.260vw 0;
}
._OneTab{
  width: 100%;
  background-color: #242424;
  font-size: 0.729vw;
  padding: 0.521vw 0;
  box-shadow: 0 -0.290vw 0.52vw 0 #00000033;
  border: solid 0.052vw #4d4d4d;
  border-radius: 0.26vw;
  position: relative;
  cursor: pointer;
}

._OneTab img._Icon{
  width: 0.781vw;
  height: 0.781vw;
  margin: 0 0.313vw;
}
._OneTabActive{
  color: #e7416a;
  background: #3d3d3d;
  border: none !important;
  z-index: 1;
}
._CheckIcon{
  position: absolute;
  top: -0.052vw;
  left: -0.052vw;
  width: 1.563vw;
  height: 1.563vw;
}
._TabColorLine{
  width: 100%;
  height: 0.260vw;
  border-radius: 0.26vw 0.26vw 0 0;
  background-image: linear-gradient(92deg, #ea1f72 1%, #d86666);
  position: absolute;
  top: 0;
  left: 0;
}
._ColorTab{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  /* overflow-y: scroll; */
}
._ColorTab ._Color{
  box-sizing: border-box;
  width: 8.6vw;
  height: 5vw;
  margin: 0.250vw;
  border-radius: 0.26vw;
  border: solid 0.052vw #333333;
  cursor: pointer;
}

._Custom_Color{
  position: relative;
  background: #242424;
  border:inset 0.052vw solid #333333 !important;
}
._Color_Selected{
  border:solid 0.260vw #ea1f72 !important;
}
._Custom_Color::after{
  position: absolute;
  content: '';
  width: 7vw;
  height: 3.438vw;
  background: transparent;
  border-radius: 0.26vw;
  border:dashed 0.15vw #333333 !important;
}
._ImageTab{
  font-size: 0.729vw;
}
._ImageTab ._SearchSection{
  font-size: 0.729vw;
  margin-top: 0.521vw !important;

}
._ImageTab ._SearchSection ._SearchInput,._ImageTab ._SearchSection ._SelectInput{
  box-sizing: border-box;
  width: 10vw;
  padding:0.625vw 1.042vw;
  background-color: #242424;
  height: 2.083vw;
  border-radius: 1.042vw;
  border:solid 0.052vw #333333 !important;
}
._ImageTab ._SearchSection ._SearchInput:hover{
  transition-duration: 0.5s;
  border: 0.052vw solid #e72870 !important;
}
._ImageTab ._SearchSection ._SelectInput{
  padding: 0.521vw 0.781vw !important;
  width: 7.813vw;
  

}

._ImageTab ._SearchSection ._SearchInput input{
  margin-left: 0.260vw;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #e6e6e6;
}
._DragAndDropImage{
  background-color: #242424;
  width: 100%;
  height: 4.688vw;
  margin: 0.781vw 0;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0.729vw !important;
}
._DragAndDropImage img{
  height: 1.042vw;
  width: 1.042vw;
}
._DragAndDropImage::after{
  top: 0.729vw;
  left: 0.729vw;
  position: absolute;
  content: '';
  width: calc(100% - 1.458vw);
  height: calc(100% - 1.458vw);
  background: transparent;
  border-radius: 0.26vw;
  border:dashed 0.15vw #333333 !important;

}
._Imagelist{
 display: flex;
 flex-flow:row wrap;

}
._ImageElement{
  margin:0.260vw;
}
._Imagelist ._ImageElement ._Image{
  box-sizing: border-box;
  width: 8.59vw;
  height: 5vw;
  border-radius: 0.26vw;
  border: solid 0.052vw #333333;
}
._ImageElement ._Label{
  margin-top: 0.104vw;
  text-align: center;
  width: 100%;
}
._ImageActive{
  border: 0.260vw solid #e72870 !important;
}

._ChangeImage{
  margin-top: 0.781vw;
  border: solid 0.052vw #4d4d4d;
  background-color: #3d3d3d;
  border-radius: 0.260vw;
}
._ChangeImage ._Img{
  width: 7.396vw;
  height: 4.167vw;
  border-radius: 0.260vw;
  

} 
._ChangeImage ._ChangeButtonFrame{
  width: 100%;
  
}
._ChangeImage ._ChangeButtonFrame img{

}

._ChangeImage ._ChangeButtonFrame ._ChangeButton{
  border-radius: 1.302vw;
  font-size: 0.729vw;
  padding: 0.260vw 0.521vw;
  cursor: pointer;
  background-image: linear-gradient(81deg, #e72870 1%, #e76161 100%);
}
._ChangeImage ._ChangeButtonFrame ._ChangeButton img {
  width: 0.781vw;
  margin-left: 0.521vw;
}

._MiniInput{
  font-size: 0.729vw;
  
}

._MiniInput ._InputFrame{
    margin-top: 0.260vw;
    width: 5.208vw;
    
    background: #242424;
    height: 1.563vw;
    border-radius: 0.260vw ;
    box-shadow: 0 0 0.521vw 0 rgba(0, 0, 0, 0.2);
}
._MiniInput ._InputFrame input{
  width: 100%;
  font-size: 0.729vw;
  outline: none;
  background: transparent;
  border: none;
  height: 100%;
  padding:0.260vw 0.521vw;
  color: white;
}
._MiniInput ._UpDownButtons{
  margin-right: 0.521vw;
}
._MiniInput ._UpDownButtons img{
    width: 0.521vw;
    margin: 0.130vw;
    cursor: pointer;
}
._MiniInput ._UpDownButtons ._Down{
  transform: rotateZ(180deg) translateX(0.0vw);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

._ImageSettings ._WidthHeight{
  margin-top: 1.042vw;
}
._LinkUnlink{
  
  margin: 0 0.401vw;
  padding: 0.321vw;
  
}
._LinkUnlink img{
  width: 1.042vw;
  height: 1.042vw;
  cursor: pointer;
}


._FrameInput{
   font-size: 0.729vw;
}._FrameInput ._InputWrap{
  margin-top: 0.260vw;
}
._FrameInput ._InputWrap ._OuterShape{
  width: 1.563vw;
  height: 1.563vw;
  /* background: red; */
  margin: 0 0.260vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

._FrameInput ._InputWrap ._OuterShape ._InnerShape{
  box-sizing: border-box;
  width: 0.833vw;
  height: 0.833vw;
  border: 0.109vw solid #e6e6e6;
}
._FrameInput ._InputWrap ._OuterShapeActive{
  background: #242424;
  border-radius: 0.260vw;
}
._FrameInput ._InputWrap ._OuterShapeActive ._InnerShape{

  border: 0.109vw solid #e7416a;
}
._FrameInput ._InputWrap ._OuterShape:hover ._InnerShape{
  border: 0.109vw solid #e7416a;
}

._SliderInput {

}
._SliderInput ._Input{
    height: 0.521vw;
} 



._ObjectLabel{
  background:#e72870;
  color: white;
  padding: 0 0.417vw;
  font-size: 12px;

}
._MiniToggle img{
  width: 1.563vw;
  height: 1.563vw;
}
._MiniToggle{
  margin: 0 0.260vw;
  cursor: pointer;
}

._FontButtons{
  margin-top: 1.042vw;
}

/* 
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: visible;
    width: 80px;
    -webkit-appearance: none;
    background-color: #242424;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 0.521vw;
    -webkit-appearance: none;
    color:#242424;
    margin-top: -1px;
    position: relative;
    overflow: visible !important;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width:1.042vw;
    -webkit-appearance: none;
    
    height: 1.042vw;
    z-index: 2;
    
    cursor: ew-resize;
    background:linear-gradient(53deg, #e72870 5%, #e76161 88%);;
    box-shadow: -80px 0 0 80px #242424;
  }

}
/** FF*/
/**
input[type="range"]::-moz-range-progress {
background-color: #242424; 
}
input[type="range"]::-moz-range-track {  
background-color: #9a905d;
}
/*
input[type="range"]::-ms-fill-lower {
background-color: #242424; 
}
input[type="range"]::-ms-fill-upper {  
background-color: #9a905d;
}
**/
