.drawingCard:nth-child(2n + 1) {
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1) 0px,
    rgba(255, 255, 255, 0.1) 10px,
    rgba(255, 255, 255, 0.3) 10px,
    rgba(255, 255, 255, 0.3) 20px
  ) !important;
  color: white;
}
.drawingCard:nth-child(2n) {
  background: repeating-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 0px,
    rgba(255, 255, 255, 0.1) 10px,
    rgba(255, 255, 255, 0.3) 10px,
    rgba(255, 255, 255, 0.3) 20px
  ) !important;
  color: white;
}
.drawingCard{
  height: max-content;

  border: 5px dashed rgba(255, 255, 255, 0.0);
}
.drawingCard .btn {
  background: none;
  border-width: 2px;
  font-weight: 600;
}
.drawingCard:hover{
  border: 5px dashed rgba(255, 255, 255, 0.7);
}

.drawingCard .card-footer {
  background: rgba(255, 255, 255, 0.3);
  font-size: 0.9em;
}

.Auth {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.DashBoard {
  height: 100%;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

.DashBoard input {
  background: transparent;
  border: 2px solid white;
  color: white;
  font-weight: 600;
}
.DashBoard input::placeholder {
  color: white;
}
.DashBoard input:focus {
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  /* transition-duration: 0.5s; */
  border: 3px solid white;
  font-size: 1.5em;
  color: white;
}

.NavBar {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.5); */
  /* width: 100%; */
  /* margin-bottom: 0.5em; */
}
.NavBar .btn {
  border: 2px solid white;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  transition-duration: 0.5s;
  margin: 0.5em;
}
.NavBar .btn:hover {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1) 0px,
    rgba(255, 255, 255, 0.1) 10px,
    rgba(255, 255, 255, 0.3) 10px,
    rgba(255, 255, 255, 0.3) 20px
  ) !important;
}
.DrawingList{
  scrollbar-width: thin;
  overflow-y: scroll;
  height: 75vh;
}
::-webkit-scrollbar{
  width:10px;
}