.HomePage {
}
.HomePage .Present {
  height: 100vh;
}

._1 {
  width: 80vw;
  color: white;
  font-size: 78px;
  background: #5433ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #a5fecb,
    #20bdff,
    #5433ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #a5fecb,
    #20bdff,
    #5433ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

._2 {
  color: white;
  font-size: 5vw;
  width: 80vw;
  padding: 0.5em;
  border-radius: 100px;
  background: #5433ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #a5fecb,
    #20bdff,
    #5433ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #a5fecb,
    #20bdff,
    #5433ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
